/* polices */

/*navbar*/
.navbar-brand { 
	/*margin-left: 100px;*/
  	width: 100px;
  	height: 100px;
  	/*background: url('../images/logo.jpg') no-repeat center center;
  	background-size: 80px;  */
}
.navbar-brand img{
	width: 100px;
  	/*height: 80px;*/
}
.navbar-right{
	margin-top: 25px;
}
/*page d'accueil*/
.bloc-accueil{
	margin-top: -80px;text-align: center;
}
.home-img{
	/*background: url('../images/bgTop.jpg') no-repeat center center;*/
	/*height: 1000px;*/
	width: 100%;
	
}
.roussel-txt {
    z-index: 10;
   /* position: absolute;*/
    height: 60%;
    margin-top: -30%;
    margin-left: 42%;

}