/*tests*/
 
.thumbnail {
    position:relative;
    overflow:hidden;
}
 
.caption {
    position:absolute;
    top:-100%;
    right:0;
    background:rgba(215, 44, 44, 0.7);
    width:100%;
    height:100%;
    padding:2%;
    text-align:center;
    color:#fff !important;
    z-index:2;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.thumbnail:hover .caption {
    top:0%;
}

.jumbotron{
	margin-left: 1px;
	margin-right: 1px;
	padding-right: 15px;
	padding-left: 15px;
}


/***********/
/* polices */
/***********/

/********/
/*navbar*/
/********/
.navbar-brand { 
  	width: 100px;
  	height: 100px;
}
.navbar-brand img{
	width: 100px;
}
.navbar-right{
	margin-top: 25px;
}
/****************/
/*page d'accueil*/
/****************/
.bloc-accueil{
	margin-top: 100px;
	text-align: center;
	margin-bottom: 20px;
	background: url('../images/bgTop.jpg');
    background-size: 100%;
    background-repeat:no-repeat;
    padding: 50px;
}
.home-img{
	width: 100%;
}
.roussel-txt {
    width: 250px;
}
.bloc-contenu{
	text-align: center;

}
.bloc-contenu h1{
	font-family: impact,sans-serif;
	display: inline-block;
	font-size: 30px;
	padding: 8px 5px;
	text-align: center;
	font-weight: 500;
	text-rendering: optimizeLegibility;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.arrow_box {
	position: relative;
	background: #white;
	/*border: 4px solid #f5120a;*/
	border-style: solid;
	border-width: 0px 0px 4px 0px;
	border-color: #f5120a;
}
.arrow_box:after, .arrow_box:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(0, 0, 0, 0);
	border-top-color: #white;
	border-width: 30px;
	margin-left: -30px;
}
.arrow_box:before {
	border-color: rgba(245, 18, 10, 0);
	border-top-color: #f5120a;
	border-top-width: 25px;
	border-right-width: 35px;
	border-bottom-width: 10px;
	border-left-width: 35px;
	margin-left: -36px;
}
/***************/
/*media queries*/
/***************/
@media (min-width: 100px ) AND (max-width: 400px) {
	.roussel-txt {
	    width: 80px;
	    margin-top: -30px;
	}
}
@media (min-width: 400px ) AND  (max-width: 500px) {
	.roussel-txt {
	    width: 100px;
	}
}
@media (min-width: 500px ) AND  (max-width: 1024px) {
	.roussel-txt {
	    width: 150px;
	}
}
/**************/
/* animations */
/**************/
/* logo */
.logo-animation{
  animation: logAnimationFrames ease 2.5s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: logAnimationFrames ease 2.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
  -moz-animation: logAnimationFrames ease 2.5s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: logAnimationFrames ease 2.5s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation: logAnimationFrames ease 2.5s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode:forwards; /*IE 10+*/
}

@keyframes logAnimationFrames{
  0% {
    opacity:0;
    transform:  translate(-1500px,0px)  ;
  }
  60% {
    opacity:1;
    transform:  translate(30px,0px)  ;
  }
  80% {
    transform:  translate(-10px,0px)  ;
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px)  ;
  }
}

@-moz-keyframes logAnimationFrames{
  0% {
    opacity:0;
    -moz-transform:  translate(-1500px,0px)  ;
  }
  60% {
    opacity:1;
    -moz-transform:  translate(30px,0px)  ;
  }
  80% {
    -moz-transform:  translate(-10px,0px)  ;
  }
  100% {
    opacity:1;
    -moz-transform:  translate(0px,0px)  ;
  }
}

@-webkit-keyframes logAnimationFrames {
  0% {
    opacity:0;
    -webkit-transform:  translate(-1500px,0px)  ;
  }
  60% {
    opacity:1;
    -webkit-transform:  translate(30px,0px)  ;
  }
  80% {
    -webkit-transform:  translate(-10px,0px)  ;
  }
  100% {
    opacity:1;
    -webkit-transform:  translate(0px,0px)  ;
  }
}

@-o-keyframes logAnimationFrames {
  0% {
    opacity:0;
    -o-transform:  translate(-1500px,0px)  ;
  }
  60% {
    opacity:1;
    -o-transform:  translate(30px,0px)  ;
  }
  80% {
    -o-transform:  translate(-10px,0px)  ;
  }
  100% {
    opacity:1;
    -o-transform:  translate(0px,0px)  ;
  }
}

@-ms-keyframes logAnimationFrames {
  0% {
    opacity:0;
    -ms-transform:  translate(-1500px,0px)  ;
  }
  60% {
    opacity:1;
    -ms-transform:  translate(30px,0px)  ;
  }
  80% {
    -ms-transform:  translate(-10px,0px)  ;
  }
  100% {
    opacity:1;
    -ms-transform:  translate(0px,0px)  ;
  }
}
/***************/
/*owl carousel */
/***************/
#owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}
/***************/
/*buton customs*/
/***************/
.btn-custom { 
  color: #FFFFFF; 
  background-color: #F5120A; 
  border-color: #000000; 
} 
.btn-custom:hover, 
.btn-custom:focus, 
.btn-custom:active, 
.btn-custom.active, 
.open .dropdown-toggle.btn-custom { 
  color: #FFFFFF; 
  background-color: #EB1717; 
  border-color: #000000; 
} 
.btn-custom:active, 
.btn-custom.active, 
.open .dropdown-toggle.btn-custom { 
  background-image: none; 
} 
.btn-custom.disabled, 
.btn-custom[disabled], 
fieldset[disabled] .btn-custom, 
.btn-custom.disabled:hover, 
.btn-custom[disabled]:hover, 
fieldset[disabled] .btn-custom:hover, 
.btn-custom.disabled:focus, 
.btn-custom[disabled]:focus, 
fieldset[disabled] .btn-custom:focus, 
.btn-custom.disabled:active, 
.btn-custom[disabled]:active, 
fieldset[disabled] .btn-custom:active, 
.btn-custom.disabled.active, 
.btn-custom[disabled].active, 
fieldset[disabled] .btn-custom.active { 
  background-color: #F5120A; 
  border-color: #000000; 
} 
.btn-custom .badge { 
  color: #F5120A; 
  background-color: #FFFFFF; 
}